* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'ChelseaMarket', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 30px;
    margin: 20px;
    border-radius: 30px;
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .card h3 {
    text-align: center;
    font-size: 1rem;
  }

  .card h4 {
    text-align: center;
    font-size: 0.7rem;
  }

  .card p {
    font-size: 0.7rem;
    text-align: left;
  }

  .card img {
    width: 100%;
    height: 200px;
  }